# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

/public/flags-iso

# production
/build

# misc
.env
.DS_Store

.prettierrc
npm-debug.log*

/.vs-code
/api/vendor
/api/composer.lock
/api/.env
/api/.cache